:root {
  --purple-2: #8a2be2;
  --blue-3: #0000ff;
  --sky-3: #87ceeb;
  --sky-1: #87ceeb;
  --pink-3: #ffc0cb;
  --pink-1: #ffb6c1;
}

body {
  margin: 0;
  height: 100vh;
  background: radial-gradient(
      circle 800px at 700px 200px,
      var(--purple-2),
      transparent
    ),
    radial-gradient(
      circle 600px at calc(100% - 300px) 300px,
      var(--blue-3),
      transparent
    ),
    radial-gradient(circle 800px at right center, var(--sky-3), transparent),
    radial-gradient(circle 800px at right bottom, var(--sky-1), transparent),
    radial-gradient(
      circle 800px at calc(50% - 600px) calc(100% - 100px),
      var(--pink-3),
      var(--pink-1),
      transparent
    );
}
