.Player {
    grid-area: Player;
    background-color: #181818;
    z-index: 4;
    height: 90px;
    color: white;
    display: flex;
    width: 100%;
    position: sticky;
    bottom: 0;
}
.Player footer {
    border-top: 1px solid #282828;
    padding: 0 16px;
    display: flex;
    flex: 1;
    align-items: center;
}
.Player .Song, .Player .Volume {
    width: 30%;
    min-width: 180px;
}
.Song {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Song .Img img {
    width: 56px;
    height: 56px;
}
.Song .Infos {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}
.Song .Infos .Artist {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-secondary);
}
.Song .Like {
    display: flex;
    align-items: center;
}
.Song .Like svg {
    width: 16px;
    height: 16px;
    fill: white;
}
.Controls {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Controls button {
    border: none;
    color: #181818;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-bottom: 12px;
}
.Controls button:hover {
    transform: scale(1.06);
    transition: none 33ms cubic-bezier(0.3, 0, 0, 1);
    transition-property: all;
}
.Controls .BarContainer {
    display: flex;
    width: 100%;
    align-items: center;
}
.Controls .BarContainer div {
    min-width: 40px;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    color: #b3b3b3;
}
.Controls .BarContainer .Wrapper {
    width: 100%;
}
.Controls .BarContainer .Wrapper .Bar {
    width: 100%;
}
.Controls .BarContainer .Wrapper .Bar .Progress {
    transform: translateX(-100%);
}
.Volume {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.Volume:hover .Bar .Progress {
    background-color: #1db954;
}
.Volume:hover button {
    opacity: 1;
}
.Volume button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: #b3b3b3;
    height: 32px;
    width: 32px;
}
.Volume button svg {
    min-width: 32px;
    fill: currentcolor;
}
.Volume .Wrapper .Bar {
    width: 100px;
}
.Volume .Wrapper .Bar .Progress {
    transform: translateX(-20%);
}
.Wrapper {
    height: 12px;
    display: flex;
    align-items: center;
    position: relative;
}
.Wrapper:hover .Bar .Progress {
    background-color: #1db954;
}
.Wrapper:hover button {
    opacity: 1;
}
.Wrapper .Bar {
    overflow: hidden;
    border-radius: 4px;
    height: 4px;
    background-color: var(--bg-color);
}
.Wrapper .Bar .Progress {
    border-radius: 4px;
    background-color: var(--fg-color);
    width: 100%;
    height: 4px;
}
.Wrapper button {
    background-color: #fff;
    border: 0;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    opacity: 0;
    z-index: 100;
    position: absolute;
    left: 20%;
    min-width: none;
    margin-bottom: 0 !important;
    margin-left: -6px;
}
