{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": ["client/**/*.js"],
      "parser": "@babel/eslint-parser",
      "parserOptions": {
        "requireConfigFile": false,
        "ecmaFeatures": {
          "jsx": true
        },
        "babelOptions": {
          "presets": ["@babel/preset-react"]
        }
      },
      "extends": ["eslint:recommended", "plugin:react/recommended"],
      "rules": {
        "react/prop-types": 0
      }
    }
  ]
}
