# See https://help.github.com/ignore-files/ for more about ignoring files.

# server
**/*.db
**/*.db-journal
_demo/

# client
build/

# docs 
.next/

# common
.env
node_modules/

# misc
.DS_Store
*Zone.Identifier