# See https://help.github.com/ignore-files/ for more about ignoring files.

# server
**/*.db-journal

# client


# docs 
.next/

# common
.env
node_modules/
.vercel/

# misc
.DS_Store
*Zone.Identifier
