.sideBarOption {
    display: flex;
    cursor: pointer;
    align-items: center;
    height: 40px;
    color: grey;
    transition: 200ms color ease-in;
  }
  
  .sideBarOption:hover {
    color: white;
  }
  
  .sideBar > hr {
    border: 1px solid #282828;
    width: 90%;
    margin: 10px auto;
  }
  
  .sideBarOption__icon {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .sideBarOption > p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
  }