.SidebarOption {
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 40px;
  color: grey;
  transition: 300ms color ease-in;
  padding: 0 16px;
  font-size: 14px;
  font-weight: 700;
}

.SidebarOption:hover {
  color: white;
}

.SidebarOptionIcon {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 16px;
}
