.ListItem .Item {
  min-height: 32px;
  padding: 0 24px;
}
.ListItem .Item:hover .Title {
  color: white !important;
}
.ListItem .Item .Title {
  font-size: 14px;
  color: #b3b3b3;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: normal;
  text-transform: none;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}
