.Playlists {
    grid-area: main-view;
    color: white;
    display: flex;
    flex-direction: column;
    width: auto;
    position: relative;
    padding-left: 32px;
    overflow-y: scroll;
}
.Playlists .Title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.04em;
    text-transform: none;
}
.Playlists .Container {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    overflow-y: scroll;
    padding-right: 32px;
}
