.Albums {
  color: white;
  position: relative;
  padding-left: 32px;
  grid-area: Body;
}
.Albums .Title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.04em;
  text-transform: none;
}
.Albums .Container {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  /* overflow-y: scroll; */
  padding-right: 32px;
}
