.LinkPlaylist {
    text-decoration: none;
}
.Playlist {
    background-color: #181818;
    padding: 16px;
    border-radius: 4px;
    max-height: 300px;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}
.Playlist:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
.Playlist:hover .PlayContainer {
    opacity: 1;
    transform: translateY(0);
}
.Playlist .imgContainer {
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: 16px;
}
.Playlist .imgContainer img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    object-fit: cover;
}
.Playlist .Name {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: normal;
    text-transform: none;
    color: #fff;
}
.Playlist .Artist {
    margin-top: 6px;
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: normal;
    text-transform: none;
}
.Playlist .PlayContainer {
    position: absolute;
    right: 8px;
    bottom: 8px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: translateY(10px);
}
.Playlist .PlayContainer button {
    color: #fff;
    background-color: var(--green-color);
    border: 0;
    border-radius: 500px;
    height: 40px;
    width: 40px;
    pointer-events: auto;
}
