@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:Light);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://fonts.googleapis.com/css?family=Cousine);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Lato:100,700);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

.coming-soon {
  text-align: center;
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: 700;
  display: block;
}

.disclaimer {
  padding-left: 20px; 
  text-align: left;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 700;
}

/* FooterBar */
.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}

/* ResultsBar */
.results-bar-div {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

/* GridCell */
.grid-cell-div {
  display: inline-block;
  margin: 0 0 0 0;
}

.grid-cell {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  position: relative;
}

.grid-cell-title, .grid-cell-subtitle {
  font-family: 'Roboto Mono';
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1em;
  height: 1em;
  text-align: center;
  margin: 0 0 0 0;
}

.grid-cell-subtitle {
  color: gray;
}

/* Grid */
.grid-detail-expansion {
  width: 100%;
  position: relative;
}

.grid-list {
  list-style: none;
  padding: 0;
  display: inline-block;
  width: 100%;
}

.grid-holder {
  width: 100%;
  background-color: #f2f2f2;
  margin: 0;
  text-align: center;
}

.selected-arrow {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid#D9D9D9;
  margin-top: 200px;
  margin-left: 80px; /*200px / 2px - 20px;*/
  display: none;
}