@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:Light);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://fonts.googleapis.com/css?family=Cousine);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h2 {
  font-family: 'Roboto Mono';
}

/* GridCell */
.grid-cell-div {
  width: 200px;
  height: 250px;
  display: inline-block;
  margin: 0px;
}

.grid-cell {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-size: cover;
  width: 140px;
  height: 200px;
  display: inline-block;
  margin: 0;
  margin-bottom: 0;
  position: relative;
}

.grid-cell-title {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1rem;
  margin: 0;
  overflow: hidden;
  display: block;
}

/* CellDetail */
.cell-detail-div {
  display: block;
}

.cell-detail {
  background-color: #D9D9D9;
  height: 600px;
  position: relative;
  padding: 20px;
  transition: display 2s ease-in-out 0.5s;
}

.cell-detail-image {
  display: inline-block;
  max-width: 300;
  width: 100%;
  height: auto;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-height: 100%;
}

.cell-detail-player-div {
  position: relative;
  float: left;
  height: 60%;
  margin-right: 10px;
  /*padding-top: '56.25%'; /* Player ratio: 100 / (1280 / 720) */ 
}

.cell-detail-player {
  position: absolute;
  top: 0;
  left: 0;
  height: 60%;
}

.cell-detail-title {
  background-color: #D9D9D9;
  width: 100%;
  height: auto;
  margin-bottom: 15px; 
}

.cell-detail-description {
  background-color: #D9D9D9;
  color: #434343;
  width: auto%;
  height: 20%;
  margin-right: 30px;
  margin-left: 30px;
  text-align: justify;
}
   
.cell-detail-left {
  width: 40%;
  height: 100%;
  float: left;
  position: relative;
}

.cell-detail-right {
  width: 60%;
  height: 100%;
  float: right;
  position: relative;
  overflow: hidden;
}

.description-link {
  text-decoration: none;
  position: relative;
  float: bottom;
  bottom: 20;
  cursor: pointer;
}

.image-link {
  cursor: pointer;
}

.cell-detail-close {
  position: relative;
  float: right;
  height: 60%;
  width: 10px;
  cursor: pointer;
  text-decoration: none;
}

/* Grid */
.grid-detail-expansion {
  width: 100%;
  position: relative;
}

.grid-list {
  list-style: none;
  padding: 0;
  display: inline-block;
}

.grid-holder {
  width: 100%;
  background-color: #f2f2f2;
  margin: 0;
  text-align: center;
}

.selected-arrow {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid#D9D9D9;
  margin-top: 200px;
  margin-left: 80px; /*200px / 2px - 20px;*/
  display: none;
}