/* SeasonDetail */
:root {
  --background-image: none;
  --title-color: #000000;
  --description-color: #000000;
}

.cell-detail-div {
  -webkit-transition: height .5s;
  transition: height .5s;
  height: 0;
  overflow: hidden;
  display: block;
}

.cell-detail {
  background-color: #D9D9D9;
  height: 500px;
  position: relative;
  padding: none;
  background-image: var(--background-image);
}

.cell-detail-left {
  width: 40%;
  height: 100%;
  float: left;
  position: relative;
}

.cell-detail-right {
  width: 60%;
  height: 100%;
  float: right;
  position: relative;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  color:white;
}

.cell-detail-image {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.cell-detail-close {
  display: block;
  text-align:center;
  position:relative;
  padding:5px;
  top:0;
  right:0;
  margin-left: 95%;
  cursor: pointer;
}

.cell-detail-title {
  font-family: 'Lato';
  font-size: 40px;
  font-weight: 700;
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 15px; 
}

.cell-detail-copyright {
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 700;
  display: block;
  margin: 30px;
  text-align: right;
}