.SideBar {
  background-color: #000;
  color: white;
  position: sticky;
  top: 0;
  width: var(--nav-bar-width);
  grid-area: Sidebar;
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  height: calc(100vh - 24px - 90px);
}
.SideBar .Logo {
  margin-bottom: 18px;
  padding-left: 24px;
  padding-right: 48px;
}

.SideBar .Logo img {
  width: 100%;
}

.SideBar .Title {
  margin: 24px 0 24px 24px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #b3b3b3;
}
.SideBar .Separator {
  margin: 8px 24px 8px 24px;
  background-color: #282828;
  border: none;
  height: 1px;
  min-height: 1px;
}
.SideBar .ListContainer {
  overflow-y: scroll;
  overflow-x: hidden;
}
.SideBar .ListContainer .List {
  list-style: none;
  padding: 0;
}
