body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* card */
.cardcont {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.85);
}

/* poster */
.poster-container {
  .poster {
    width: 100%;
    border-radius: 0 0 3px 3px;
  }
}

/* meta data */
.meta-data-container {
  padding: 15px;
  color: $lightGrey;

  h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: $lato;
    font-size: 2.2em;
  }

  .additional-details {
    margin: 35px 0 20px;
    font-family: $oswald;

    .genre-list {
      display: block;
      color: $limeGreen;
      font-size: 1.4em;
    }

    .production-list {
      display: block;
      margin-bottom: 20px;
    }

    .release-details {
      div {
        &:nth-child(n+3) {
          margin-top: 15px;
        }
      }
    }
  }

  .meta-data {
    display: block;
    color: $limeGreen;
    font-size: 1.6em;
    line-height: 1.1em;
  }
}

.tagline {
  display: block;
  padding-bottom: 0.25em;
  color: $limeGreen;
  font-size: 1.3em;
  font-family: $oswald;
}

/* Breakpoints */


@include media-breakpoint-up(sm) {
  /* meta data */
  .meta-data-container {
    padding: 25px;
  }
}



@include media-breakpoint-up(md) {
  /* poster */
  .poster-container {
    .poster {
      border-radius: 3px 0 0 3px;
    }
  }
  /* meta data */
  .meta-data-container {
    padding: 25px;
    h1 {
      font-size: 2.5em;
    }
  }
}

