.Player {
    grid-area: Player;
    background-color: #181818;
    z-index: 4;
    height: 90px;
    color: white;
    width: 100%;
    position: sticky;
    bottom: 0;
    border-top: 1px solid #282828;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.Player .Controls {
    width: 40%;
}
.Song {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Song .Img img {
    width: 56px;
    height: 56px;
}
.Song .Infos {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}
.Song .Infos .Artist {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-secondary);
}
.Song .Like {
    display: flex;
    align-items: center;
}
.Song .Like svg {
    width: 16px;
    height: 16px;
    fill: white;
}
.Controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Controls button {
    border: none;
    color: #181818;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-bottom: 12px;
}
.Controls button:hover {
    transform: scale(1.06);
    transition: none 33ms cubic-bezier(0.3, 0, 0, 1);
    transition-property: all;
}
.Controls .BarContainer {
    display: flex;
    width: 100%;
    align-items: center;
}

.Volume {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Volume button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: #b3b3b3;
    height: 32px;
    width: 32px;
}
.Volume button svg {
    min-width: 32px;
    fill: currentcolor;
}
  
  .currentTime,
  .duration {
    font-family: monospace;
    font-size: 16px;
  }
  
  .currentTime {
    margin-left: 25px;
  }
  
  .progressBar {
    --bar-bg: #535353;
    --seek-before-width: 0;
    --seek-before-color: #b3b3b3; /* #1db954; */
    --knobby: #fff;
    --selectedKnobby: #fff;
    
    appearance: none;
    background: var(--bar-bg);;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;
  }
  
  /* progress bar - safari */
  .progressBar::-webkit-slider-runnable-track {
    background: var(--bar-bg);;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;
  }
  
  /* progress bar - firefox */
  .progressBar::-moz-range-track {
    background: var(--bar-bg);;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;
  }
  
  .progressBar::-moz-focus-outer {
    border: 0;
  }
  
  /* progress bar - chrome and safari */
  .progressBar::before {
    content: '';
    height: 11px;
    width: var(--seek-before-width);
    background-color: var(--seek-before-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
  }
  
  /* progress bar - firefox */
  .progressBar::-moz-range-progress {
    background-color: var(--seek-before-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 11px;
  }
  
  /* knobby - chrome and safari */
  .progressBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: none;
    background-color: var(--knobby);
    cursor: pointer;
    position: relative;
    margin: -2px 0 0 0;
    z-index: 3;
    box-sizing: border-box;
    opacity: 0;
  }
  
  /* knobby while dragging - chrome and safari */
  .progressBar:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background: var(--selectedKnobby);
  }
  
  /* knobby - firefox */
  .progressBar::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: transparent;
    background-color: var(--knobby);
    cursor: pointer;
    position: relative;
    z-index: 3;
    box-sizing: border-box;
  }
  
  /* knobby while dragging - firefox */
  .progressBar:active::-moz-range-thumb {
    transform: scale(1.2);
    background: var(--selectedKnobby);
  }

  .progressBar:hover::before {
    opacity: 1;
    background-color: #1db954;
  }

  .progressBar:hover::-webkit-slider-thumb {
    opacity: 1;
  }