.Player {
  grid-area: Player;
  background-color: #181818;
  z-index: 4;
  height: 90px;
  color: white;
  width: 100%;
  position: sticky;
  bottom: 0;
  border-top: 1px solid #282828;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.Song {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Song .Img img {
  width: 56px;
  height: 56px;
}
.Song .Infos {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}
.Song .Infos .Artist {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-secondary);
}
.Song .Like {
  display: flex;
  align-items: center;
}
.Song .Like svg {
  width: 16px;
  height: 16px;
  fill: white;
}

.Middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Player .Middle {
  width: 40%;
}

.Controls {
  width: 224px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.Controls div button svg {
  fill: black !important;
}
.button {
  border: 0;
  background: transparent;
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button svg {
  font-size: 16px;
  fill: hsla(0, 0%, 100%, 0.7);
  color: hsla(0, 0%, 100%, 0.7);
}

.Controls svg:hover {
  fill: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.iconButton {
  border: 0;
  background: transparent;
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconButton svg {
  font-size: 16px;
  fill: hsla(0, 0%, 100%, 0.7);
  color: hsla(0, 0%, 100%, 0.7);
}
.iconButton:hover svg {
  fill: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.activeIcon svg {
  fill: #1db954 !important;
  color: #1db954 !important;
}

.playButton {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  color: #000;
  border: none;
  background-color: #fff;
  padding: 0;
  transition: 0.2s;
}
.playButton:hover {
  transform: scale(1.1);
}
.playButton svg {
  fill: #000 !important;
}

.Middle .BarContainer {
  display: flex;
  width: 100%;
  align-items: center;
}

.currentTime,
.duration {
  font-family: monospace;
  font-size: 14px;
  color: var(--color-secondary);
}

.currentTime {
  margin-right: 10px;
}
.duration {
  margin-left: 10px;
}

.progressBar {
  --bar-bg: #535353;
  --seek-before-width: 0;
  --seek-before-color: #b3b3b3; /* #1db954; */
  --knobby: #fff;
  --selectedKnobby: #fff;

  appearance: none;
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 5px;
  outline: none;
}

/* progress bar - safari */
.progressBar::-webkit-slider-runnable-track {
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 5px;
  outline: none;
}

/* progress bar - firefox */
.progressBar::-moz-range-track {
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 5px;
  outline: none;
}

.progressBar::-moz-focus-outer {
  border: 0;
}

/* progress bar - chrome and safari */
.progressBar::before {
  content: '';
  height: 5px;
  width: var(--seek-before-width);
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

/* progress bar - firefox */
.progressBar::-moz-range-progress {
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 5px;
}

/* knobby - chrome and safari */
.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: none;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  margin: -4px 0 0 0;
  z-index: 3;
  box-sizing: border-box;
  opacity: 0;
}

/* knobby while dragging - chrome and safari */
.progressBar:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: var(--selectedKnobby);
}

/* knobby - firefox */
.progressBar::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: transparent;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
}

/* knobby while dragging - firefox */
.progressBar:active::-moz-range-thumb {
  transform: scale(1.2);
  background: var(--selectedKnobby);
}

.progressBar:hover::before {
  opacity: 1;
  background-color: #1db954;
}

.progressBar:hover::-webkit-slider-thumb {
  opacity: 1;
}

.Volume {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Volume button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: #b3b3b3;
  height: 32px;
  width: 32px;
}
.Volume button svg {
  min-width: 32px;
  fill: currentcolor;
}
